<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>schemaVersion</key>
	<integer>1</integer>
	<key>general</key>
	<dict>
		<key>openSettingsAtLaunch</key>
		<false/>
		<key>showPermissionOnboardingOnLaunch</key>
		<true/>
	</dict>
	<key>dockBehavior</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>singleClickSemanticToggle</key>
		<true/>
		<key>prefersHideOverMinimize</key>
		<false/>
		<key>multiWindowPolicy</key>
		<string>allWindows</string>
		<key>stageManagerCompatibilityMode</key>
		<true/>
		<key>fullscreenSafetyMode</key>
		<true/>
		<key>enableAppleScriptFallback</key>
		<true/>
	</dict>
	<key>gestures</key>
	<dict>
		<key>enableTitleBarGestures</key>
		<true/>
		<key>enableNotchTrigger</key>
		<true/>
		<key>enableScrollGestures</key>
		<true/>
		<key>enableRockerGestures</key>
		<true/>
		<key>enableTrackpadModifierGestures</key>
		<true/>
	</dict>
	<key>appSwitcher</key>
	<dict>
		<key>showPreviews</key>
		<false/>
		<key>showMetadata</key>
		<true/>
		<key>dismissOnActivate</key>
		<true/>
		<key>useRecentOrder</key>
		<true/>
	</dict>
	<key>snapping</key>
	<dict>
		<key>rememberFrames</key>
		<true/>
		<key>useVisibleFrame</key>
		<true/>
		<key>padding</key>
		<real>10</real>
	</dict>
	<key>diagnostics</key>
	<dict>
		<key>verboseLogging</key>
		<true/>
		<key>retainedEventCount</key>
		<integer>200</integer>
	</dict>
	<key>experimental</key>
	<dict>
		<key>enableDockIconInference</key>
		<true/>
		<key>enableDockLockHeuristics</key>
		<true/>
		<key>enableWorkspaceCycling</key>
		<false/>
	</dict>
	<key>gestureDefinitions</key>
	<array>
		<dict>
			<key>id</key>
			<string>11111111-1111-1111-1111-111111111111</string>
			<key>name</key>
			<string>Dock Click Toggle</string>
			<key>isEnabled</key>
			<true/>
			<key>kind</key>
			<string>dockIconClick</string>
			<key>scope</key>
			<string>dock</string>
			<key>requiredModifiers</key>
			<array/>
			<key>targetConstraint</key>
			<string>dockIcon</string>
			<key>action</key>
			<string>dockSemanticToggle</string>
		</dict>
	</array>
</dict>
</plist>
